<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="@routes.Assets.at("Game.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("awale.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("awale-ws.js")" type="text/javascript"></script>
    <title>Awale</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/awale.css")">
  </head>
  <body>
    <div class="home-menu pure-menu pure-menu-horizontal">
      <a href="#" class="pure-menu-heading pure-menu-link">Awale</a>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="http://en.wikipedia.org/wiki/Oware#Rules" class="pure-menu-link">Rules</a></li>
      </ul>
    </div>

    <div class="main">
      <span class="message-error" id="error"></span>

      <div id="start" class="pure-g">
        <div class="middle pure-u-2-5">
          <p><span id="nb-players"></span> players</p>
          <p><span id="nb-games"></span> games in play</p>
        </div>
        <div class="middle pure-u-3-5">
          <button id="click" class="pure-button pure-button-primary" onClick="awale.ctrl.doSend('create')">Play with a friend</button>
        </div>
      </div>

      <div id="invitation">
        <p>
          To invite someone to play, give this URL :
        </p>
        <form class="pure-form" onsubmit="return false;">
          <input type="text" id="join-url" readonly="true" />
          <button class="pure-button copy-url">Copy URL</button>
        </form>
      </div>

      <div id="game">
        <p>Your score : <span id="score1"></span> / <span id="time1"></span></p>
        <div id="container" class="container">
          <div class="table-row">
            <div id="11" class="col">4</div>
            <div id="10" class="col">4</div>
            <div id="9" class="col">4</div>
            <div id="8" class="col">4</div>
            <div id="7" class="col">4</div>
            <div id="6" class="col">4</div>
          </div>
          <div class="table-row">
            <div id="0" class="col">4</div>
            <div id="1" class="col">4</div>
            <div id="2" class="col">4</div>
            <div id="3" class="col">4</div>
            <div id="4" class="col">4</div>
            <div id="5" class="col">4</div>
          </div>
        </div>
        <p>Your score : <span id="score0"></span> / <span id="time0"></span></p>
        <p id="message"></p>
        <div id="active">
          <span class="message-success">Your turn</span>
        </div>
        <div id="passive">
          <span class="message-warning">Waiting for opponent</span>
        </div>
        <div id="disconnected">
          <span class="message-error">Opponent disconnected</span>
        </div>
      </div>
    </div>

  </body>

</html>